
html {
  height: 100%;
  width: 100%;
  font-family: Roboto,sans-serif;
  background-color: whitespoke;
  margin: 0;
  overflow-x: hidden;
  color: white;
  background:black;
}

body {
  margin: 0;
}

.navbar {
    background-color: black; 
    /** #1f5de3; **/
    overflow: hidden;
    margin: 0;
    /**box-shadow: 0 0px 11px rgb(27, 50, 101);**/
  }
  
  .navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 0.5s;
  }
  
  .navbar .left {
    float: left;
    display:block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 17px;
    transition-duration:none;
  }
  
  .logo {
    display: block;
    }
  
  .navbar a:hover {
    color: #ddd;
    transition-duration: 0.5s;
  }
  
  .navbar .icon {
    display: none;
  }

  #main-background {
    width: 110%;
  }

  #background-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }
  
  h1 {
    font-size: 60px;
    text-align: center;
  }

  .blogposts { 
    padding: 20px 20px 20px 20px; 
    text-align: center; 
    color: black; 
    font-size: 20px; 
    width: 300px; 
    border-radius: 40px; 
    background-color: white; 
    display: inline-block; 
    margin-top: 30px; 
    transition-duration: 0.5s; 
    box-shadow: 0 0px 15px rgb(14, 28, 57); 
  } 
  .blogposts:hover { 
    -moz-transform: translate(0px, -10px); 
    -ms-transform: translate(0px, -10px); 
    -o-transform: translate(0px, -10px); 
    -webkit-transform: translate(0px, -10px); 
    transform: translate(0px, -10px); 
    box-shadow: 0 0px 20px rgb(14, 28, 57); 
  } 

  .blogposts img { 
    width: 200px; 
  }   
    
  .post-container { 
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 20px;
    text-align:center;
    background-color: #123369;
    overflow-y:visible;
  }

  a {
    text-decoration: none;
    color: inherit;
    }

  .button {
    background-color: white;
    width: 100px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #0b5394;
    transition-duration: 0.5s;
    border-radius: 10px;
    margin: 20px auto;
    border: 0;
    display: block;;
    }

  .button:hover{
    color: gray;
    transition-duration: 0.5s;
    cursor: pointer;
  }

  h2 {
    font-size: 40px;
    text-align: center;
  }

  .game-container {
    margin: 20px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
  }

  .game-text {
    float: left;
    margin:0px;
  }

  .game-thumb {
    float: left;
  }
  
  h3 {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 0;
    color: white;
    font-weight: normal;
  }

  .book-thumb {
    height: 250px;
    float: left;
  }

  .background-container {
    background-image:url("images/background.png")
  }

  a {
    color: #1c8df0;
    transition-duration: 0.8s;
  }

  a:hover {
    color: #0b5394;
    transition-duration: 0.8s;
  }

  #reverse-link {
    color:white;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
  }

  #reverse-link:hover {
    color: #1c8df0;
  }

  li {
    margin: 5px;
  }

  footer {
    text-align: center;
    padding: 25px;
    margin: 20px;
    float: center;
    bottom: 0%;

   }

  .fa {
    color: white;
    float: none;
    transition-duration: 0.8s;
  }

  .fa:hover {
    color:#0b5394;
    transition-duration: 0.8s;
  }






  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
    .left {
      display: none;
      }
  }

  @media  screen and (max-width: 600) {
    div.bar {
      display: grid;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .nav a {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
    #main-background {
      height: 80vh;
      width: auto;
    }
    #background-text{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: right;
    }
  }